/* PC */
@media screen and (min-width: 992px) {
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .header__inner {
        position: relative;
    }

    .header__inner .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mobile-actions {
        display: none;
    }
}

/* Tablet and mobile */
@media screen and (max-width: 991.98px) {
    .menu-toggle {
        border: none;
        outline: none;
        background: transparent;
        color: #666;
        width: 32px;
    }

    .menu__overlay {
        position: fixed;
        inset: 0;
        z-index: 3;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        transition-property: opacity, visibility;
        transition-duration: 0.25s;
    }

    .header-mobile--active .menu__overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu__drawer {
        position: fixed;
        inset: 0 40% 0 0;
        z-index: 4;
        padding: 60px;
        background: #fff;
        transform: translateX(-100%);
        transition: transform 0.25s;
    }

    .header-mobile--active .menu__drawer {
        transform: translateX(0);
    }

    .menu-mobile {
        margin-top: 48px;
    }

    .navbar__item {
        padding: 0;
    }

    .navbar__link {
        display: block;
        text-align: left;
        font-size: 1.8rem;
        padding: 12px 0;
    }

    .navbar__link--active::after {
        display: none;
    }

    .navbar {
        display: none;
    }

    .hero__inner,
    .feature__row {
        flex-direction: column;
        row-gap: 48px;
    }

    .hero__inner {
        flex-direction: column-reverse;
    }

    .hero__content,
    .feature__media,
    .feature__content {
        width: 100%;
    }

    .hero__phone {
        width: 74%;
    }

    .feature__img-wrap {
        margin: 0 auto;
    }

    .payment {
        right: 62px;
    }

    .decor-money {
        bottom: auto;
        top: 40px;
        right: 100px;
    }

    .client__feedback-list {
        grid-template-columns: 1fr;
    }

    .client__feedback-item {
        display: none;
    }

    .client__feedback-item:first-child {
        display: block;
    }

    .client__feedback-item__content {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .blog__list {
        grid-template-columns: 1fr;
    }

    .app__decor .app__decor-img:nth-child(1) {
        top: 20px;
        left: 20px;
    }

    .app__decor .app__decor-img:nth-child(2) {
        top: 20px;
        right: 20px;
    }

    .app__decor .app__decor-img:nth-child(3) {
        bottom: 20px;
        left: 20px;
    }

    .app__decor .app__decor-img:nth-child(4) {
        right: 20px;
        bottom: 20px;
    }

    .footer__row {
        grid-template-columns: 1fr 1fr;
        gap: 48px;
    }

    .footer__contact {
        justify-content: center;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .container {
        max-width: calc(100% - 24px);
    }

    .hero__heading,
    .section-heading {
        font-size: 3rem;
    }

    .section-desc {
        font-size: 1.6rem;
    }

    .menu__drawer {
        inset: 0 25% 0 0;
        padding: 24px;
    }

    .navbar__link {
        font-size: 1.6rem;
    }

    .mobile-actions {
        margin-top: 48px;
    }

    .mobile-actions .btn {
        --height: 48px;
        display: block;
        margin-top: 12px;
    }

    .mobile-action__link {
        width: 100%;
        background: transparent;
        color: #7264d6;
        border: 1px solid currentColor;
    }

    .mobile-action__link--primary {
        width: 100%;
        background: #7264d6;
    }

    .header {
        inset: -12px 0 auto 0;
        padding: 24px 0 12px 0;
    }

    .header__inner {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .header__cta,
    .deposit,
    .interest,
    .secured {
        display: none;
    }

    .hero__phone {
        width: 100%;
    }

    .phone {
        margin: 0 auto;
    }

    .process-item__heading {
        font-size: 1.8rem;
    }

    .subscribe-form__wrap,
    .feature__img-wrap,
    .feature__img {
        width: 100%;
    }

    .feature__row {
        align-items: unset;
    }

    .feature__row + .feature__row {
        margin-top: 60px;
    }

    .feature__img-wrap,
    .feature__img {
        height: 400px;
        object-fit: contain;
    }

    .congratulation {
        bottom: 20px;
        right: 40px;
    }

    .feature .card {
        margin: 0;
        width: 100%;
        height: 248px;
    }

    .feature .card__heading {
        font-size: 1.8rem;
    }

    .feature .card__price {
        font-size: 2.4rem;
    }

    .feature .card__title,
    .feature .card__date,
    .feature .card__title + .card__title,
    .feature .card__date,
    .feature .card__username {
        font-size: 1.4rem;
    }

    .feature__send,
    .feature__income {
        display: none;
    }

    .feature__img-wrap-last {
        width: 100%;
    }

    .decor-money {
        display: none;
    }

    .client__desc,
    .client__feedback-item__content,
    .blog-desc,
    .app__desc {
        width: 100%;
    }

    .blog__top {
        flex-direction: column;
        row-gap: 32px;
    }

    .blog-item {
        flex-direction: column;
        align-items: unset;
        padding: 0;
    }

    .blog-item__img {
        width: 100%;
        height: 220px;
    }

    .blog-item__content {
        padding: 20px;
    }

    .app__inner {
        padding: 40px 12px;
    }

    .app__decor {
        display: none;
    }

    .footer__row {
        grid-template-columns: 1fr;
    }

    .footer__form {
        column-gap: 12px;
    }

    .footer__form-input {
        width: 68%;
    }

    .footer__form-submit {
        flex: 1;
    }

    .footer__contact {
        justify-content: space-between;
        column-gap: 12px;
    }
}
