*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Common */
a {
    text-decoration: none;
}

input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}

.btn {
    --height: 58px;
    display: inline-block;
    min-width: 148px;
    padding: 0 16px;
    line-height: var(--height);
    text-align: center;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    background: #212832;
}

.btn:hover {
    opacity: 0.9;
}

.section-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    margin-bottom: 12px;
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.section-label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
}

.section-heading {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section-desc {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

/* Header */
.header {
    padding: 54px 0;
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: 70px;
}

.navbar__list {
    display: flex;
    align-items: center;
}

.navbar__item {
    padding: 8px 24px;
}

.navbar__link {
    position: relative;
    color: #696d76;
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
}

.navbar__link:hover,
.navbar__link--active {
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::after {
    position: absolute;
    top: 100%;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background: #7264d6;
}

/* Header action */
.header__cta {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header__cta-link {
    color: #212832;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    margin-right: 28px;
}

.header__cta-link:hover {
    text-decoration: underline;
}

.header__cta-signup {
    --height: 52px;
    min-width: 113px;
}

/* Hero */
.hero {
    margin: 22px 0 160px 0;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 60px;
}

.hero__content {
    width: 46%;
}

.hero__heading {
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
}

.hero__heading span {
    color: #7264d6;
}

.subscribe-form {
    margin-top: 40px;
}

.subscribe-form__wrap {
    display: flex;
    align-items: center;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.subscribe-form__input {
    width: 100%;
    height: 100%;
    padding: 0 24px;
    border: none;
    outline: none;
    border-radius: 8px;
}

.subscribe-form__input::placeholder {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.subscribe-form__submit {
    flex-shrink: 0;
    width: 149px;
    height: 58px;
    margin-right: 8px;
    border-radius: 8px;
    background: #7264d6;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    outline: none;
    border: none;
    user-select: none;
    cursor: pointer;
}

.subscribe-form__submit:hover {
    opacity: 0.9;
}

.subscribe-note {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

/* Hero phone */
.hero__phone {
    position: relative;
    width: 49%;
}

.phone {
    position: relative;
    width: 296px;
    margin: 0 174px 0 auto;
    border: 12px solid #212832;
    background: #fff;
    border-radius: 40px;
    overflow: hidden;
}

.phone::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 50%;
    display: block;
    width: 144px;
    height: 36px;
    background: #3c2f60;
    transform: translateX(-50%);
    border-radius: 0px 0px 18px 18px;
}

.card {
    position: relative;
    width: 250px;
    margin: 42px auto 0 auto;
    padding: 16px;
    min-height: 100px;
    border-radius: 20px;
    background: linear-gradient(to right, #8679e4, #7264d6);
}

.card::before {
    position: absolute;
    top: 0;
    left: 20px;
    content: url(../img/phone-decor-01.svg);
}

.card::after {
    position: absolute;
    bottom: 0;
    right: 10px;
    content: url(../img/phone-decor-02.svg);
}

.card__inner {
    position: relative;
    z-index: 1;
}

.card__row {
    display: flex;
    justify-content: space-between;
}

.card__heading {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
}

.card__price {
    margin-top: 8px;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
}

.card__circle {
    display: flex;
}

.card__circle::before,
.card__circle::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fe6565cc;
}

.card__circle::after {
    background: #feef65cc;
    margin-left: -10px;
}

.card__info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 12px;
    margin-top: 32px;
}

.card__title {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}

.card__date,
.card__username {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.phone__content {
    padding: 24px 12px 48px 12px;
}

.phone__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone__heading {
    color: #31456a;
    font-size: 1.6rem;
    font-weight: 600;
}

.transaction__list {
    margin-top: 28px;
}

.transaction-item {
    display: flex;
    align-items: center;
}

.transaction-item + .transaction-item {
    margin-top: 28px;
}

.transaction-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 14px;
    border-radius: 8px;
    background: #4ab5e31a;
}

.transaction-item__title {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.transaction-item__desc {
    margin-top: 6px;
    color: #696d76;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
}

.transaction-item__footer {
    margin-left: auto;
    text-align: right;
}

.transaction-item__price {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.transaction-item__date {
    margin-top: 6px;
    color: #696d76;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
}

/* Deposit */
.deposit {
    position: absolute;
    top: 113px;
    left: 0;
    display: flex;
    align-items: center;
    padding: 14px 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.deposit__icon {
    color: #8376e2;
}

.deposit__title {
    margin-left: 8px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.deposit__price {
    margin-left: 20px;
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

/* Interest */
.interest {
    position: absolute;
    top: 128px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
}

.interest__percent {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.interest__title {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}

/* Secured */
.secured {
    position: absolute;
    bottom: 78px;
    right: 100px;
    display: flex;
    align-items: center;
    padding: 20px 14px;
    border-radius: 10px;
    background: #439f90;
}

.secured__icon {
    color: #439f90;
}

.secured__content {
    margin-left: 10px;
}

.secured__price {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.secured__title {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
}

/* Feature */
.feature {
    padding-bottom: 160px;
}

.feature__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature__row + .feature__row {
    margin-top: 160px;
}

.feature__media,
.feature__content {
    width: 40%;
}

.feature__media {
    position: relative;
}

.feature__img-wrap {
    position: relative;
    width: 470px;
    height: 619px;
}

.feature__img-wrap::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 88.8%;
    background: url(../img/feature-decor-01.svg) bottom center / contain no-repeat;
}

.feature__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 456px;
    height: 619px;
    margin: 0 auto;
    object-fit: cover;
}

.feature__media-decor {
    position: absolute;
    top: 76px;
    right: 62px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background: #7264d6;
}

.feature__media-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #fff;
    color: #7264d6;
}

.congratulation {
    position: absolute;
    bottom: 96px;
    right: -100px;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.congratulation__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #4ab5e3;
    border-radius: 6px;
}

.congratulation__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    color: #4ab5e3;
}

.congratulation__info {
    margin-left: 10px;
}

.congratulation__title {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
}

.congratulation__desc {
    margin-top: 5px;
    color: #696d76;
    font-size: 1.2rem;
    font-weight: 400;
}

.process__list {
    margin-top: 70px;
}

.process-item + .process-item {
    margin-top: 30px;
}

.process-item__heading {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.process-item__desc {
    margin-top: 16px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.feature__list {
    margin: 28px 0;
}

.feature__item {
    display: flex;
    align-items: center;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.feature__item::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.feature__item + .feature__item {
    margin-top: 18px;
}

.feature__card {
    position: relative;
}

.feature .card {
    display: flex;
    flex-direction: column;
    width: 482px;
    height: 322px;
    margin: 0 88px 0 0;
    padding: 38px;
}

.feature .card__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.feature .card__heading {
    font-size: 2.4rem;
}

.feature .card__price {
    margin-top: 10px;
    font-size: 3.2rem;
}

.feature .card__info {
    margin-top: auto;
}

.feature .card__title {
    font-size: 2rem;
}

.feature .card__title + .card__title,
.feature .card__date {
    font-size: 2.2rem;
    font-weight: 600;
}

.feature .card__username {
    font-size: 2rem;
    font-weight: 400;
}

.feature .card__circle::before,
.feature .card__circle::after {
    width: 48px;
    height: 48px;
}

.feature .card__circle::after {
    margin-left: -18px;
}

.feature .card::before {
    content: url(../img/feature-decor-02.svg);
}

.feature .card::after {
    content: url(../img/feature-decor-03.svg);
}

.feature__send {
    position: absolute;
    top: -48px;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 22px 12px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.feature__send-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    color: #da6464;
    background: #da64641a;
}

.feature__send-info {
    margin-left: 14px;
}

.feature__send-title {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 700;
}

.feature__send-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 70px;
}

.feature__send-row + .feature__send-row {
    margin-top: 6px;
}

.feature__send-price {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 400;
}

.feature__send-desc {
    color: #696d76;
    font-size: 1.2rem;
    font-weight: 400;
}

/* Feature income */
.feature__income {
    position: absolute;
    bottom: -55px;
    right: 0;
    width: 120px;
    height: 120px;
    padding: 16px;
    border-radius: 16px;
    background: #439f90;
}

.feature__income-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #fff;
    color: #439f90;
}

.feature__income-title {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.feature__income-price {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.feature__img-wrap-last {
    position: relative;
    width: 470px;
    height: 600px;
    padding: 0 28px;
}

.feature__img-wrap-last::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 72%;
    background: url(../img/feature-decor-04.svg) top center / cover no-repeat;
}

.feature__img-wrap-last img {
    display: block;
    width: 100%;
    height: 100%;
}

.payment {
    position: absolute;
    right: -74px;
    bottom: 57px;
    z-index: 1;
    padding: 28px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 44px 48px 0px #0000001a;
}

.payment__title {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.payment__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    margin-top: 20px;
}

.payment__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 48px;
    border-radius: 4px;
    background: #f2f2fa;
}

.payment__item:last-child {
    color: #212832;
    background: #f9ea63;
}

.payment__item img {
    width: 40px;
    height: 24px;
}

.decor-money {
    position: absolute;
    bottom: 222px;
    right: -110px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    color: #fff;
    background: #7264d6;
    box-shadow: 0px 15px 40px 0px #0000001a;
}
